.sidebar {
    width: 20%;
    background-color: hsl(217deg 30% 82%);
    color: black;
    position: relative;
}

/* .sidebar::-webkit-scrollbar {
    display: none;
} */

.sidebar-components-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    position: relative;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #97a4b7
}

.header .title {
   font-size: 1.2rem;
   font-weight: 600;
}

.sidebar-component {
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    cursor: move;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    font-size: 0.6rem;
    color: black;

}

.sidebar-component img {
    height: 35px;
}

.projects-list {
    padding: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.projects-list li {
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    word-wrap:break-word
}

.projects-list li + li {
    margin: 10px 0;
}

.projects-list li:hover {
    background-color: rgb(242, 242, 242);
}

.circle {
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    background: white;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.information {
    padding: 10px;
}